<% positions.forEach(function(position){ %>
  <ul>
    <li><%=position.escape("player")%></li>
    <li><%=position.escape("team") %></li>
    <li><%=position.escape("position") %></li>
  </ul>
<%  }) %>
