
<h2>What do you want to see?</h2>
<form class="search-form">
  <label for="opponent">Opponent:</label>
  <select name="opponent" id="opponent">
    <option value="Ari">Arizona Cardinals</option>
    <option value="Atl">Atlanta Falcons </option>
    <option value="Bal">Baltimore Ravens </option>
    <option value="Buf">Buffalo Bills</option>
    <option value="Car">Carolina Panthers</option>
    <option value="Chi">Chicago Bears</option>
    <option value="Cin">Cincinnati Bengals</option>
    <option value="Cle">Cleveland Browns</option>
    <option value="Dal">Dallas Cowboys</option>
    <option value="Den">Denver Broncos</option>
    <option value="Det">Detroit Lions</option>
    <option value="GB">Green Bay Packers</option>
    <option value="Hou">Houston Texans</option>
    <option value="Ind">Indianapolis Colts</option>
    <option value="Jac">Jacksonville Jaguars</option>
    <option value="KC">Kansas City Chiefs </option>
    <option value="Mia">Miami Dolphins</option>
    <option value="Min">Minnesota Vikings</option>
    <option value="NE">New England Patriots</option>
    <option value="NO">New Orleans Saints</option>
    <option value="NYG">New York Giants</option>
    <option value="NYJ">New York Jets</option>
    <option value="Oak">Oakland Raiders</option>
    <option value="Phi">Philadelphia Eagles</option>
    <option value="Pit">Pittsburgh Steelers</option>
    <option value="SD">San Diego Chargers</option>
    <option value="SF">San Francisco 49ers</option>
    <option value="Sea">Seattle Seahawks</option>
    <option value="Stl">St. Louis Rams</option>
    <option value="TB">Tampa Bay Buccaneers</option>
    <option value="Ten">Tennessee Titans</option>
    <option value="Was">Washington Redskins</option>
  </select>

  <input type="submit" value="Submit">
</form>

<div id="rect-demo"></div>
<div id="graph"></div>
